<section>
  <style>
    .login-form{ 
      display: flex;
      flex-direction: column;
      margin-left: 5rem;
      text-decoration: none;
    
    } 
    .username{ 
      color: red; 
      text-align: left;
      margin-left: 2rem; 
      margin-top: 2rem;

      }
     input{ 
       width: 21rem; 
       } 
     .check{
    display: flex; 
    margin-top: 2rem;

    
    }
    .rember{
      color: rgb(109, 109, 104);
    }
    input[type=checkbox]{
      width: 2rem;
    }
    button{
      width:fit-content;
      margin-top: 2rem;
    }
    .sign{
      margin-top: 5rem;
    }
  </style>

<h1 style="text-align:center">Login page</h1>

<form action="/views/user/view-products.hbs" method="post">

  <div class="login-form">
    <span class="username">username</span>
    <input type="text" />
    <span class="username">password</span>
    <input type="text" />
    <div class="check">
      <input type="checkbox" name="" id="chack" /><span class="rember"> remember me</span>
    </div>
    <button type="submit">Login in</button>
    <div class="sign">
    <p class="rember"><a href="#">Forget password</a></p>
    <span><a href="/signup">sign up</a></span>
    </div>
  </div>
  </form>
</section>